.app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  
  .form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .info {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  